@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

.App {
  text-align: center;
  margin: 5vh;
  padding-right: 20vh;
  padding-left: 20vh;
}

.info {
  font-family: 'Cousine', monospace;
  color: #59a6deff;
  font-weight: 800;
}

.headers {
  padding-top: 10px;
  color: rgb(4, 4, 84);
  font-weight: 600;
}