@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

.App {
  text-align: left;
  margin: 5vh;
}

.info {
  font-family: 'Cousine', monospace;
  color: #777777;
  font-weight: 800;
}

.headers {
  padding-top: 10px;
  color: rgb(4, 4, 84);
  font-weight: 600;
}